@charset "UTF-8";
/*CSS Doc*/

.hidden
{
	display: none;
}

body, html
{
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    background-color: #E0FFFF;
}

body, div, ul, p, section
{
    margin: 0;
    padding: 0;
}

li, p
{
  line-height: 1.5;
}

#container
{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left:120px;
    margin-right:120px;
    padding-top: 50px;
    padding-bottom:50px;
    background-color: #FFFFFF;
    width: 1200px;
}

/* Gets rid of bulleted list */

ul 

{
   list-style: none;
}

ul li
{

  display: inline;

}

#mainHeader
{
    margin: 0 auto;
	margin-bottom: 75px;
	padding: 10px 10px;
	background-color: #87CEFA;
	height: 100px;
	width:960px;
	font-size: 25px;
	font-weight: bold;
    text-align: center;
}

#mainImg
{

    width: 1200px;
    text-align: center;
    margin-bottom: 50px;
}

.dataSet
{
	display: flex;
    flex-direction: column;
    margin: 0 auto;
	padding: 10px 10px;
	width:960px;

}

.vis
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.visImg
{
    height: auto;
    width: auto;
    max-width: 400px;
    max-height: 340px;
    margin-right: 50px; 
}

/* Footer */

footer
{
    padding-top: 100px;
    padding-right: 120px;
    padding-bottom: 40px;
    padding-left: 120px;
    text-align: left;

}

footer hr
{
    margin: 30px 0px 30px 0px;
}

.footerButtons
{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: right;
}

#footerCopyright
{
    display: flex;
    width: 700px;
    justify-content: flex-start;
    align-items: center;
}